<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <div class="partial">
        <div id="register" class="box">
            <form>
                <fieldset>
                    <legend>Member Information</legend>
                    <div class="form-box">
                        <label>First Name</label>
                        <input type="text" placeholder="first name">
                    </div>
                    <div class="form-box">
                        <label>Last Name</label>
                        <input type="text" placeholder="last name">
                    </div>
                    <div class="form-box">
                        <label>Date of Birth</label>
                        <input type="date" placeholder="date of birth">
                    </div>
                    <div class="form-box">
                    	<label>Select Gender</label>
                        <select>
                        	<option value="f">Female</option>
                        	<option value="m">Male</option>
						</select>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Other Information</legend>
                    <div class="form-box">
                        <label>Email</label>
                        <input type="email" placeholder="email">
                    </div>
                    <div class="form-box">
                        <label>Special Needs</label>
						<textarea placeholder="special needs"></textarea>
                    </div>
                    <div class="form-box">
                        <label>First Name of Parent/Guardian</label>
                        <input type="text" placeholder="first name of parent/guardian">
                    </div>
                    <div class="form-box">
                        <label>Last Name of Parent/Guardian</label>
                        <input type="text" placeholder="last name of parent/guardian">
                    </div>
                    <div class="form-box">
                        <label>Address (number and street-name)</label>
                        <input type="text" placeholder="address (number and street-name)">
                    </div>
                    <div class="form-box">
                        <label>City</label>
                        <input type="text" placeholder="city" value="Ottawa">
                    </div>
                    <div class="form-box">
                        <label>Postal Code</label>
                        <input type="text" placeholder="postal code">
                    </div>
                    <div class="form-box">
                        <label>Province</label>
                        <input type="text" placeholder="province" value="Ontario">
                    </div>
                    <div class="form-box">
                        <label>Phone</label>
                        <input type="tel" placeholder="phone">
                    </div>
                    <div class="form-box">
                        <label>Full Name of Emergency Contact</label>
                        <input type="text" placeholder="full name of emergency contact">
                    </div>
                    <div class="form-box">
                        <label>Emergency Contact Phone</label>
                        <input type="tel" placeholder="emergency contact phone">
                    </div>
                    <div class="form-box">
                    	<label>Jersey Size</label>
                        <select>
                        	<option value="ys">YS</option>
                        	<option value="ym">YM</option>
                        	<option value="yl">YL</option>
                        	<option value="yxl">YXL</option>
                        	<option value="as">AS</option>
                        	<option value="am">AM</option>
                        	<option value="al">AL</option>
                        	<option value="ax">AX</option>
						</select>
                    </div>
                    <div class="form-box">
                    	<label>Shorts Size</label>
                        <select>
                        	<option value="ys">YS</option>
                        	<option value="ym">YM</option>
                        	<option value="yl">YL</option>
                        	<option value="yxl">YXL</option>
                        	<option value="as">AS</option>
                        	<option value="am">AM</option>
                        	<option value="al">AL</option>
                        	<option value="ax">AX</option>
						</select>
                    </div>
					<div class="form-box">
                        <label>How did you hear about our programs?</label>
                        <input type="text" placeholder="">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Waiver and Policies</legend>
                    <div class="form-box">
                        <input type="checkbox"><label>I have read and agree to the <a href="#">Policies</a>.</label>
					</div>
               		<div class="form-box">
                        <input type="checkbox"><label>I have read and agree to the <a href="#">Waiver and Release</a>.</label>
					</div>
                </fieldset>
                <div class="form-box">
					<input type="submit" value="REGISTER">
				</div>
            </form>
        </div>
    </div>
</body>

</html>