<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <div class="partial">
        <div id="register" class="box">
            <form>
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-box">
                        <label>First Name</label>
                        <input type="text">
                    </div>
                    <div class="form-box">
                        <label>Last Name</label>
                        <input type="text">
                    </div>
                    <div class="form-box">
                        <label>Email</label>
                        <input type="email">
                    </div>
                    <div class="form-box">
                        <input type="submit" value="Register">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>